//- Navigation

div.nav
  ul.nav-inner
    li.nav-item
      a.nav-link(href= "/" + lan + "/" + "index.html")= nav.home
    li.nav-item.has-sub
      span.nav-link.nav-product= nav.product
      div.nav-sub
        ul.nav-sub-inner
          li.nav-sub-item
            a.nav-link(href= "/" + lan + "/" + "product-2016-autumn-winter.html")= nav.product_16aw
          li.nav-sub-item
            a.nav-link(href= "/" + lan + "/" + "product-2017-summer.html")= nav.product_17ss

    li.nav-item.long
      a.nav-link.nav-about(href= "/" + lan + "/" + "about.html")= nav.about
    li.nav-item.long
      a.nav-link.nav-contact(href= "/" + lan + "/" + "contact.html")= nav.contact

  div.nav-sub-bg